<!doctype html>

<html ng-app>
<head>
    <title>JLearn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="js/jlearn.js"></script>
    <script src="js/decks/hiragana.js"></script>
    <script src="js/decks/katakana.js"></script>
    <script src="js/decks/capitals.js"></script>
    <script src="js/decks/basic_french.js"></script>
    <script src="js/decks/basic_english.js"></script>

    <link rel="stylesheet" href="css/main.css" type="text/css" charset="utf-8"/>
</head>
<body>

    <div ng-controller="CardCtrl" ng-cloak>
        <h1>Learning <select ng-model="deck" ng-options="deck.name + ' (' + deck.cards.length + ' cards)' for deck in decks" ng-change="deckChanged()"></select><br/><b>Type your answer</b> or <b>press SPACE</b> to learn</h1>

        <div id="cards_container" ng-class="cardContainerClass()">
            <div class="card box panel flip">
                <div class="front" ng-bind-html-unsafe="frontCard">
                </div>
                <div class="back" ng-bind-html-unsafe="backCard">
                </div>
            </div>
            <div class="card box {{inputClass}}">
                <input id="input" type="text" maxlength="{{currentCard.target.length}}" ng-change="check()" ng-model="input"/>
                <div id="hint" ng-show="hint!=''">Hint: <span ng-bind-html-unsafe="hint"></span></div>
            </div>
        </div>

        <div class="answer box" ng-class="answer.status">
            <span ng-show="answer.status == 'success'">You were right!</span>
            <span ng-show="answer.status == 'error'">You were wrong!</span>
            <span ng-show="answer.status == 'learn'">Learning mode:</span>
            Answer for <b>{{answer.card.source}}</b> was: <b>{{answer.card.target}}</b>
            <div class="consecutive" ng-show="consecutiveGoodAnswers > 3">{{consecutiveGoodAnswers}} good consecutive answers!</div>
            <div ng-show="answer.status != 'success'">Time to type what you've just learnt!</div>
        </div>
        <div id="history" class="box">
            <div id="overall_stats" class="box">Overall stats: {{ stats }}</div>

            <div id="options" class="box">
                <label ng-show="fuzzyEnabled">fuzzy match <input type="checkbox" ng-model="fuzzy"/></label>
                <label>random order <input type="checkbox" ng-model="random"/></label>
            </div>
            <span ng-repeat="card in deck.cards" ng-class="getClass(card)" title="{{card.target}} ({{card.success}}/{{card.error}})">{{card.source}} {{ getStats(card) }}%</span>
        </div>
    </div>
</body>
</html>
